@use "tailwindcss";

@font-face {
	font-family: "Nippo";
	src: url("Nippo-Extralight")
		url("../src/assets/fonts/Nippo-Extralight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Nippo";
	src: url("../src/assets/fonts/Nippo-Light.woff2")
		format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Nippo";
	src: url("../src/assets/fonts/Nippo-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Nippo";
	src: url("../src/assets/fonts/Nippo-Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Nippo";
	src: url("../src/assets/fonts/Nippo-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Nippo";
	src: url("../src/assets/fonts/Nippo-Variable.woff2")
		format("woff2");
	font-display: swap;
	font-style: normal;
}

@layer base {
	:root {
		--toastify-color-progress-success: #2F3645;
		--toastify-icon-color-success: #2F3645;
		--toastify-color-progress-warning: #2F3645;
		--toastify-icon-color-warning: #2F3645;
		--toastify-color-progress-error: #2F3645;
		--toastify-icon-color-error: #2F3645;
		@apply bg-[#e8e8e8];
		@apply text-[#2F3645];
		@apply cursor-default;
	}
	
	body {
		font-family: "Nippo", sans-serif !important;
		scroll-behavior: smooth !important;
	}

	::selection,
	::-moz-selection {
		@apply bg-[#1b1b1b]/20;
	}

	// Firefox => https://bugzilla.mozilla.org/show_bug.cgi?id=1432935
	::-webkit-scrollbar {
		width: 2px;
		height: 2px;
		&:hover {
			width: 4px;
			height: 4px;
		}
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-[#1b1b1b]/40;
	}

	cal-floating-button{
		@apply p-0;
	}
}
